:root {
    --lcv-enter-duration: 0.5s;
    --lcv-enter-easing: ease;
}

body {
    padding: 2rem;
    font-family: sans-serif;
}

#input-area {
    margin-bottom: 1rem;
}

#container {
    position: fixed;
    bottom: 10px;
    right: 0;
    width: 100vw;
    z-index: 999;
}

.comment {
    font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    position: absolute;
    right: 10px;
    top: 0;
    transition: top 0.3s ease;

    display: flex;
    flex-direction: column; /* ← 上下に */
    align-items: flex-end; /* 右寄せ */
    gap: 4px;
}

.comment-username {
    display: inline-block;
    padding: 4px 10px;
    background: #0d3855;
    color: white;
    border-radius: 4px;
    max-width: 100%;
    white-space: nowrap;
}

.comment-message {
    padding: 6px 10px;
    font-size: 20px;
    background: #000000;
    color: white;
    max-width: 50vw;
    border-radius: 4px;
    white-space: pre-wrap;
    word-break: break-word;
}

.comment-enter-active {
    transition: all var(--lcv-enter-duration) var(--lcv-enter-easing);
}

.comment-enter-from {
    transform: translateX(100%);
    opacity: 0;
}